.passwordWrapper {
  position: relative;
  width: 100%;
  display: block;
}

.input {
  width: 100%;
  padding-right: 44px;
  box-sizing: border-box;
}

.eyeButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.eyeButton:focus {
  outline: none;
}

.eyeButton:focus-visible {
  outline: none;
}




.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: 44px;
  padding: 0 12px;
  box-sizing: border-box;
}

.passwordInput {
  padding-right: 40px;
}

.toggle {  
  position: absolute; 
  right: 12px;
  top: 48%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  padding: 0;
  display: grid;
  place-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  font-size: 20px;
}

