html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.calendar-area {
  flex: 1;
  min-height: 0;
  padding: 16px;
}

/* 画面全体を覆う黒背景 */
.modal-overlay {
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 の省略 */
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center; /* 縦中央 */

  z-index: 9999;
}

/* モーダル本体 */
.modal-box {
  background: white;
  width: 400px;
  max-width: 90%;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  animation: fadeIn 0.2s ease-out;
}

/* ふわっと表示アニメーション */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.jump-highlight {
  background: rgba(255, 230, 0, 0.22) !important;
  transition: background 0.2s ease;
}

.fc-daygrid-event div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.fc-daygrid-day-frame { /* スクロール可能にする */
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.fc-daygrid-day-events {
  overflow-y: auto;   /* ← スクロール */
  max-height: 80px;   /* ← 高さ制限 */
}

.fc-daygrid-day { /* 1マスの高さ固定 */
  height: 120px; 
}

.fc-daygrid-day.holiday .fc-daygrid-day-number { /* 日曜日の「日付（数字）」を赤に */
  color: red; 
}

.fc-col-header-cell.fc-day-sun .fc-col-header-cell-cushion { /* 日曜日のヘッダー（Sun）も赤に */
  color: red;
}

.fc-day-sun .fc-daygrid-day-number { /* 日曜日の日付数字を赤に */
  color: red;
}

.fc-daygrid-day.holiday { /* 祝日の背景色変更 */
  background-color: #f8eaeb;
}

.fc-day-sun .fc-daygrid-day-frame { /* 日曜日の背景色変更 */
  background-color: #f8eaeb; 
}